<!DOCTYPE html>
<html>
<head>
  <title>
  Fierce Castle</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>

  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Fierce Castle</h1>
    </header>
    
    <!-- This is the bs3-form boilerplate: -->
    <form id="signupForm" action="/users" method="POST" role="form">

      <legend>Createst Thou Thy User</legend>
    
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="" name="username" placeholder="Who Goes There?">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="" name="password" placeholder="What is thy password?">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="" name="email" placeholder="Where to send carrier pigeons?">
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</body>
</html>


